body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.fancy-border {
    border: 5px solid rgba(142, 68, 173, 0.5); /* 調淡紫色邊框 */
    padding: 70px;
    margin: 20px;

    border-radius: 15px; /* 圓角邊框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 陰影效果 */
    background: linear-gradient(135deg, rgb(114, 98, 104), rgb(173, 171, 169)); /* 漸變背景 */
    color: white;
    text-align: left;
    position: fixed;
    /* width: 80%; 擴展到接近頁面邊界 */
    max-width: 2400px; /* 設置最大寬度 */
    height: auto;
    /* min-height: 80vh; 設置最小高度，佔滿80%視窗高度 */
}

.fancy-border h1 {
    margin-top: 0;
}

.fancy-border .player-name {
    font-size: 1.7em; /* 與其他詳細資料一致 */
    margin-top: 10px; /* 與其他段落保持一致的間距 */
}

.fancy-border p {
    font-size: 1.7em;
    margin: 5px 0;
}

.fancy-border img {
    height: 100px;
}

